.wrap {
    /* background-image: url(../images/desktop.jpg);
    background-repeat: no-repeat;
    background-position: -35px -104px;
    background-size: 960px;
    */
    width: 1136px;
    height: 476px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.wrap,
.wrap div {
    box-sizing: border-box;
}

.explain {
    top: 1%;
    left: 5%;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #144925;
    font-size: 14px;
    color: #fefefe;
    cursor: pointer;
    text-align: center;
}

.peilv {
    color: #e1c022;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.rowOne {
    position: absolute;
    left: 0;
    top: 0;
    width: 1135px;
    height: 180px;
}

.dxds_left {
    position: absolute;
    width: 200px;
    height: 180px;
    left: 0;
    top: 0;
}

.dxds_da {
    position: absolute;
    top: 0;
    width: 200px;
    background: #1c7244;
    height: 115px;
    border: 1px solid #5e992e;
    border-radius: 20px 5px 5px 5px;
}

.dxds_dan {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #1c7244;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #5e992e;
}

.th2_left {
    left: 210px;
    top: 0;
    position: absolute;
    height: 180px;
    background: green;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #5e992e;
    padding: 0 5px 0px 5px;
}

.th2_left_top {
    width: 100%;
    height: 20px;
}

.th2_left_item {
    width: 100%;
    background: green;
    height: 48px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 2px 13px 2px 13px;
}

.th3 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 180px;
    width: 430px;
}

.th2_right {
    right: 210px;
    top: 0;
    position: absolute;
    height: 180px;
    background: green;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #5e992e;
    padding: 0 5px 0px 5px;
}

.dxds_right {
    position: absolute;
    width: 200px;
    height: 180px;
    right: 0;
    top: 0;
}

.dxds_shuang {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: green;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #5e992e;
}

.dxds_xiao {
    position: absolute;
    top: 0;
    width: 200px;
    background: green;
    height: 115px;
    border: 1px solid #5e992e;
    border-radius: 5px 20px 5px 5px;
}

.th2_right_top {
    width: 100%;
    height: 20px;
}

.th2_right_item {
    width: 100%;
    background: green;
    height: 48px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 2px 13px 2px 13px;
}

.th3_dx_top {
    height: 20px;
    font-size: 16px;
}

.th3_dx {
    height: 47.5%;
    background: green;
    width: 100%;
    border: 1px solid #5e992e;
    text-align: center;
    font-size: 0;
    border-radius: 5px;
    padding: 0 10px 5px 10px;
}

.th3_tx {
    height: 47.5%;
    background: green;
    width: 100%;
    border: 1px solid #5e992e;
    border-radius: 5px;
    margin-top: 8px;
    padding: 0 10px 5px 10px;
    position: absolute;
    font-size: 0;
}

.th3_tx_top {
    height: 20px;
    font-size: 14px;
}

.th3_dx_item {
    width: 60px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    background: green;
    height: 60px;
    display: inline-block;
    margin: 0 4px;
    text-align: center;
}

.th3_tx_item {
    width: 60px;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 60px;
    display: inline-block;
    margin: 0 4px;
    text-align: center;
}

.rowTwo.hz {
    position: absolute;
    left: 0px;
    top: 185px;
    width: 1136px;
    height: 72px;
    font-size: 0;
    text-align: center;
}

.hz_item {
    width: 72px;
    background: green;
    height: 72px;
    display: inline-block;
    margin-right: 9.8px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.hz_item:last-child {
    margin-right: 0!important;
}

.hz_item>.num {
    height: 70%;
    font-size: 30px;
    line-height: 58px;
    color: #fefefe;
    font-weight: 500;
}

.hz_item>.peilv {
    height: 30%;
    font-size: 14px;
}

.rowThree.bth2 {
    position: absolute;
    left: 0px;
    top: 262px;
    width: 1136px;
    height: 112px;
    font-size: 0;
    text-align: center;
    border: 1px solid #5e992e;
    border-radius: 5px;
    padding: 6px 80px;
    background-color: #0f5027;
}

.rowThree.bth2>.bth2_peilv {
    position: absolute;
    top: 6%;
    left: 1%;
    width: 75px;
    font-size: 14px;
}

.bth2_item {
    width: 55px;
    background: green;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    padding: 6px 5px;
}

.bth2_item:last-child {
    margin-right: 0;
}

.rowFour {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1136px;
    height: 92px;
    font-size: 0;
    text-align: center;
}

.cygh {
    width: 49%;
    height: 92px;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 0;
    border: 1px solid #5e992e;
    border-radius: 5px 5px 5px 20px;
    padding: 15px 0px 15px 80px;
    background-color: #0b441e;
}

.cygh>.cygh_peilv {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 14px;
    width: 80px;
}

.cygh_item {
    background: #0b441e;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    padding: 6px;
}

.cygh_item:last-child {
    margin-right: 0;
}

.lh3 {
    width: 49%;
    height: 92px;
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    font-size: 0;
    border: 1px solid #5e992e;
    border-radius: 5px 5px 20px 5px;
    padding: 8px 80px 8px 80px;
    background-color: #0b441e;
}

.lh3>.lh3_peilv {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 80px;
    font-size: 14px;
}

.lh3_item {
    width: 76px;
    background: #0b441e;
    height: 76px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #5e992e;
    border-radius: 5px;
}

.lh3_item:last-child {
    margin-right: 0;
}

.bottomBar {
    bottom: 0;
    position: absolute;
    height: 30px;
    width: 100%;
}

.userName {
    position: absolute;
    left: 15%;
    font-size: 0;
    height: 100%;
}

.name {
    font-size: 18px;
    display: inline-block;
    height: 100%;
    width: 100px;
    text-align: center;
    border: 1px solid;
    border-top-right-radius: 10px 15px;
    border-top-left-radius: 10px 15px;
    border-bottom-left-radius: 10px 15px;
    border-bottom-right-radius: 10px 15px;
}

.nameLogo {
    display: inline-block;
    height: 100%;
    width: 30px;
    vertical-align: middle;
    background: orange;
    font-size: 18px;
}

.balance {
    position: absolute;
    left: 32%;
    font-size: 0;
    width: 22%;
    height: 100%;
    background: green;
}

.balanceLogo {
    display: inline-block;
    height: 100%;
    width: 30px;
    vertical-align: middle;
    background: orange;
    font-size: 18px;
}

.balanceDetail {
    font-size: 18px;
    display: inline-block;
    height: 100%;
    width: 160px;
    text-align: center;
    border: 1px solid;
    border-top-right-radius: 20px 15px;
    border-top-left-radius: 20px 15px;
    border-bottom-left-radius: 20px 15px;
    border-bottom-right-radius: 20px 15px;
}

.chips {
    position: absolute;
    left: 54%;
    font-size: 0;
    width: 22%;
    height: 100%;
    background: pink;
}

.betMoney {
    position: absolute;
    right: 0%;
    font-size: 0;
    height: 100%;
    background: palegreen;
    width: 25%;
}

.betMoneyLogo {
    display: inline-block;
    height: 100%;
    width: 30px;
    vertical-align: middle;
    background: orange;
    font-size: 18px;
}

.betMoneyDetail {
    font-size: 18px;
    display: inline-block;
    height: 100%;
    width: 160px;
    text-align: center;
    border: 1px solid;
    border-top-right-radius: 20px 15px;
    border-top-left-radius: 20px 15px;
    border-bottom-left-radius: 20px 15px;
    border-bottom-right-radius: 20px 15px;
}

.dxds_da>.bigNumber {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #fefefe;
    font-size: 14px;
}

.dxds_da>.explain {
    top: 10%;
}

.dxds_da>.peilv {
    position: absolute;
    left: 25%;
    text-align: left;
    top: 50%;
}

.dxds_da>.bigChinese {
    right: 5%;
    position: absolute;
    bottom: 0;
    font-size: 70px;
    color: #fefefe;
    height: 95px;
    font-weight: 500;
}

.dxds_xiao>.smallNumber {
    position: absolute;
    left: 5%;
    top: 5%;
    color: #fefefe;
    font-size: 14px;
}

.dxds_xiao>.explain {
    top: 10%;
    right: 5%;
}

.dxds_xiao>.peilv {
    position: absolute;
    right: 25%;
    text-align: right;
    top: 50%;
}

.dxds_xiao>.smallChinese {
    left: 5%;
    position: absolute;
    bottom: 0;
    font-size: 70px;
    color: #fefefe;
    height: 95px;
    font-weight: 500;
}

.dxds_dan>.peilv {
    position: absolute;
    left: 25%;
    text-align: left;
    line-height: 52px;
}

.dxds_dan>.explain {
    margin-top: 17px;
    position: absolute;
    right: 5%;
}

.danChinese {
    position: absolute;
    right: 15%;
    color: #fefefe;
    font-size: 36px;
    line-height: 52px;
}

.dxds_shuang>.peilv {
    position: absolute;
    right: 25%;
    text-align: right;
    line-height: 52px;
}

.dxds_shuang>.explain {
    margin-top: 17px;
    position: absolute;
    right: 5%;
}

.shuangChinese {
    position: absolute;
    left: 15%;
    color: #fefefe;
    font-size: 36px;
    line-height: 52px;
}

.th2_left_item>.dice_rect:nth-child(1) {
    width: 40px;
    height: 40px;
    float: left;
}

.th2_left_item>.dice_rect:nth-child(2) {
    width: 40px;
    height: 40px;
    float: right;
}

.th2_right_item>.dice_rect:nth-child(1) {
    width: 40px;
    height: 40px;
    float: left;
}

.th2_right_item>.dice_rect:nth-child(2) {
    width: 40px;
    height: 40px;
    float: right;
}

.smallDiceWrap {
    display: inline-block;
    padding: 2px;
}

.th3_dx_item>.smallDiceWrap:first-child,
.th3_tx_item>.smallDiceWrap:first-child {
    margin: 0 5px;
}

.bth2_item>.dice_rect {
    margin: auto;
}

.bth2_item>.dice_rect:nth-child(2) {
    margin-top: 6px;
}

.cygh_item>.dice_rect_big {
    margin: auto;
}

.lh3_item>.small2DiceWrap {
    display: inline-block;
    padding: 3px;
}

.lh3_item>.small2DiceWrap:first-child {
    margin: 0 10px;
}