.diceGameContent {
    background-image: url('../images/diceGameBg.png');
    background-size: 1920px;
    position: relative;
    width: 1920px;
    height: 1151px;
}

.diceGameBar {
    height: 63px;
    line-height: 63px;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#4e4e4e', endColorStr='#242424', gradientType='0');
    background: -webkit-linear-gradient(top, #4e4e4e, #242424);
    background: -moz-linear-gradient(top, bottom, #4e4e4e, #242424);
    padding: 0 20%;
}

.outerWrap {
    width: 1430px;
    height: 630px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-image: url(../images/desktop.png);
    background-repeat: no-repeat;
}

.wrap {
    width: 1136px;
    height: 476px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.diceGameContent,
.diceGameContent div {
    box-sizing: border-box;
}

.explain {
    top: 1%;
    left: 5%;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #144925;
    font-size: 14px;
    color: #fefefe;
    cursor: pointer;
    text-align: center;
}

.peilv {
    color: #e1c022;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.rowOne {
    position: absolute;
    left: 0;
    top: 0;
    width: 1135px;
    height: 180px;
}

.dxds_left {
    position: absolute;
    width: 200px;
    height: 180px;
    left: 0;
    top: 0;
}

.dxds_da {
    position: absolute;
    top: 0;
    width: 200px;
    background: #1c7244;
    height: 115px;
    border: 1px solid #5e992e;
    border-radius: 20px 5px 5px 5px;
}

.dxds_dan {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #1c7244;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #5e992e;
}

.th2_left {
    left: 210px;
    top: 0;
    position: absolute;
    height: 180px;
    background: green;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #5e992e;
    padding: 0 5px 0px 5px;
}

.th2_left_top {
    width: 100%;
    height: 20px;
}

.th2_left_item {
    width: 100%;
    background: green;
    height: 48px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 2px 13px 2px 13px;
}

.th3 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 180px;
    width: 430px;
}

.th2_right {
    right: 210px;
    top: 0;
    position: absolute;
    height: 180px;
    background: green;
    width: 130px;
    border-radius: 5px;
    border: 1px solid #5e992e;
    padding: 0 5px 0px 5px;
}

.dxds_right {
    position: absolute;
    width: 200px;
    height: 180px;
    right: 0;
    top: 0;
}

.dxds_shuang {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: green;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #5e992e;
}

.dxds_xiao {
    position: absolute;
    top: 0;
    width: 200px;
    background: green;
    height: 115px;
    border: 1px solid #5e992e;
    border-radius: 5px 20px 5px 5px;
}

.th2_right_top {
    width: 100%;
    height: 20px;
}

.th2_right_item {
    width: 100%;
    background: green;
    height: 48px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 2px 13px 2px 13px;
}

.th3_dx_top {
    height: 20px;
    font-size: 16px;
}

.th3_dx {
    height: 47.5%;
    background: green;
    width: 100%;
    border: 1px solid #5e992e;
    text-align: center;
    font-size: 0;
    border-radius: 5px;
    padding: 0 10px 5px 10px;
}

.th3_tx {
    height: 47.5%;
    background: green;
    width: 100%;
    border: 1px solid #5e992e;
    border-radius: 5px;
    margin-top: 8px;
    padding: 0 10px 5px 10px;
    position: absolute;
    font-size: 0;
}

.th3_tx_top {
    height: 20px;
    font-size: 14px;
}

.th3_dx_item {
    width: 60px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    background: green;
    height: 60px;
    display: inline-block;
    margin: 0 4px;
    text-align: center;
}

.th3_tx_item {
    width: 60px;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 60px;
    display: inline-block;
    margin: 0 4px;
    text-align: center;
}

.rowTwo.hz {
    position: absolute;
    left: 0px;
    top: 185px;
    width: 1136px;
    height: 72px;
    font-size: 0;
    text-align: center;
}

.hz_item {
    width: 72px;
    background: green;
    height: 72px;
    display: inline-block;
    margin-right: 9.8px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.hz_item:last-child {
    margin-right: 0!important;
}

.hz_item>.num {
    height: 70%;
    font-size: 30px;
    line-height: 58px;
    color: #fefefe;
    font-weight: 500;
}

.hz_item>.peilv {
    height: 30%;
    font-size: 14px;
}

.rowThree.bth2 {
    position: absolute;
    left: 0px;
    top: 262px;
    width: 1136px;
    height: 112px;
    font-size: 0;
    text-align: center;
    border: 1px solid #5e992e;
    border-radius: 5px;
    padding: 6px 80px;
    background-color: #0f5027;
}

.rowThree.bth2>.bth2_peilv {
    position: absolute;
    top: 6%;
    left: 1%;
    width: 75px;
    font-size: 14px;
}

.bth2_item {
    width: 55px;
    background: green;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    padding: 6px 5px;
}

.bth2_item:last-child {
    margin-right: 0;
}

.rowFour {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 1136px;
    height: 92px;
    font-size: 0;
    text-align: center;
}

.cygh {
    width: 49%;
    height: 92px;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 0;
    border: 1px solid #5e992e;
    border-radius: 5px 5px 5px 20px;
    padding: 15px 0px 15px 80px;
    background-color: #0b441e;
}

.cygh>.cygh_peilv {
    position: absolute;
    top: 20px;
    left: 15px;
    font-size: 14px;
    width: 80px;
}

.cygh_item {
    background: #0b441e;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border: 1px solid #5e992e;
    border-radius: 5px;
    padding: 6px;
}

.cygh_item:last-child {
    margin-right: 0;
}

.lh3 {
    width: 49%;
    height: 92px;
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    font-size: 0;
    border: 1px solid #5e992e;
    border-radius: 5px 5px 20px 5px;
    padding: 8px 80px 8px 80px;
    background-color: #0b441e;
}

.lh3>.lh3_peilv {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 80px;
    font-size: 14px;
}

.lh3_item {
    width: 76px;
    background: #0b441e;
    height: 76px;
    display: inline-block;
    margin-right: 20px;
    border: 1px solid #5e992e;
    border-radius: 5px;
}

.lh3_item:last-child {
    margin-right: 0;
}

.diceGameInfo {
    height: 63px;
    line-height: 63px;
    display: inline-block;
    vertical-align: middle;
}

.diceGameInfo .userName {
    height: 63px;
    line-height: 63px;
    width: 110px;
    display: inline-block;
    position: relative;
}

.diceGameInfo .userName .name {
    font-size: 18px;
    position: absolute;
    left: 2px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 110px;
    padding-right: 10px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    border: 1px solid #493f3f;
    background-color: #0e0e0e;
    color: #df8818;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.diceGameInfo .userName .nameLogo {
    height: 42px;
    width: 42px;
    vertical-align: middle;
    background-image: url('../images/nameLogo.svg');
    background-repeat: no-repeat;
    background-size: 42px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.balance {
    position: relative;
    width: 160px;
    height: 63px;
    line-height: 63px;
    display: inline-block;
}

.balanceLogo {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 6px;
    display: inline-block;
    height: 22px;
    width: 22px;
    background: url('../images/balance.svg');
    background-size: 22px;
    z-index: 1;
}

.balanceDetail {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    margin: auto;
    height: 30px;
    line-height: 30px;
    width: 160px;
    font-size: 0;
    text-align: center;
    text-indent: 16px;
    border: 1px solid #493f3f;
    background-color: #0e0e0e;
    color: #df8818;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.balanceDetail .balanceLabel,
.betMoneyDetail .betMoneyLabel {
    font-size: 18px;
}

.betMoney {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 63px;
    line-height: 63px;
}

.betMoneyLogo {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    left: 4px;
    display: inline-block;
    height: 30px;
    width: 28px;
    background: url('../images/betMoney.png');
    background-repeat: no-repeat;
    background-size: 30px 28px;
    z-index: 1;
}

.betMoneyDetail {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 0;
    height: 30px;
    line-height: 30px;
    width: 160px;
    text-align: center;
    text-indent: 24px;
    border: 1px solid #493f3f;
    background-color: #0e0e0e;
    color: #df8818;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.balanceDetail .balanceAmount,
.betMoney .betMoneyAmount {
    color: #ffffff;
    font-size: 18px;
}

.dxds_da>.bigNumber {
    position: absolute;
    right: 5%;
    top: 5%;
    color: #fefefe;
    font-size: 14px;
}

.dxds_da>.explain {
    top: 10%;
}

.dxds_da>.peilv {
    position: absolute;
    left: 25%;
    text-align: left;
    top: 50%;
}

.dxds_da>.bigChinese {
    right: 5%;
    position: absolute;
    bottom: 0;
    font-size: 70px;
    color: #fefefe;
    height: 95px;
    font-weight: 500;
}

.dxds_xiao>.smallNumber {
    position: absolute;
    left: 5%;
    top: 5%;
    color: #fefefe;
    font-size: 14px;
}

.dxds_xiao>.explain {
    top: 10%;
    right: 5%;
    left: inherit;
}

.dxds_xiao>.peilv {
    position: absolute;
    right: 25%;
    text-align: right;
    top: 50%;
}

.dxds_xiao>.smallChinese {
    left: 5%;
    position: absolute;
    bottom: 0;
    font-size: 70px;
    color: #fefefe;
    height: 95px;
    font-weight: 500;
}

.dxds_dan>.peilv {
    position: absolute;
    left: 25%;
    text-align: left;
    line-height: 52px;
}

.dxds_dan>.explain {
    margin-top: 17px;
    position: absolute;
    right: 5%;
}

.danChinese {
    position: absolute;
    right: 15%;
    color: #fefefe;
    font-size: 36px;
    line-height: 52px;
}

.dxds_shuang>.peilv {
    position: absolute;
    right: 25%;
    text-align: right;
    line-height: 52px;
}

.dxds_shuang>.explain {
    margin-top: 17px;
    position: absolute;
    right: 5%;
    left: inherit;
}

.shuangChinese {
    position: absolute;
    left: 15%;
    color: #fefefe;
    font-size: 36px;
    line-height: 52px;
}

.th2_left_item>.dice_rect:nth-child(1) {
    width: 40px;
    height: 40px;
    float: left;
}

.th2_left_item>.dice_rect:nth-child(2) {
    width: 40px;
    height: 40px;
    float: right;
}

.th2_right_item>.dice_rect:nth-child(1) {
    width: 40px;
    height: 40px;
    float: left;
}

.th2_right_item>.dice_rect:nth-child(2) {
    width: 40px;
    height: 40px;
    float: right;
}

.smallDiceWrap {
    display: inline-block;
    padding: 2px;
}

.th3_dx_item>.smallDiceWrap:first-child,
.th3_tx_item>.smallDiceWrap:first-child {
    margin: 0 5px;
}

.bth2_item>.dice_rect {
    margin: auto;
}

.bth2_item>.dice_rect:nth-child(2) {
    margin-top: 6px;
}

.cygh_item>.dice_rect_big {
    margin: auto;
}

.lh3_item>.small2DiceWrap {
    display: inline-block;
    padding: 3px;
}

.lh3_item>.small2DiceWrap:first-child {
    margin: 0 10px;
}

.diceGameBar .betBar {
    height: 63px;
    line-height: 63px;
    position: relative;
    display: inline-block;
}

.betBar>.button {
    position: absolute;
    text-align: center;
    font-weight: 500;
}

.betBar>.button.cancelButton {
    margin: auto;
    left: 100px;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fcfcfc;
    background-color: #c42e2f;
    border-radius: 8px;
    border: 1px solid #763a3a;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.betBar>.button.pieceButtoon {
    margin: auto;
    left: 332px;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fcfcfc;
    background-color: #c42e2f;
    border-radius: 8px;
    border: 1px solid #763a3a;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.betBar>.button.betButton {
    margin: auto;
    left: 216px;
    right: 0;
    bottom: 0;
    top: 0;
    color: #fcfcfc;
    background-color: #c42e2f;
    border-radius: 8px;
    border: 1px solid #763a3a;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}


/* 飞出去的筹码 */

.flyChip1 {
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    background-position: 0 0px;
    pointer-events: none
}

.flyChip5 {
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    background-position: -60px 0px;
    pointer-events: none
}

.flyChip10 {
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    background-position: -120px 0px;
    pointer-events: none
}

.flyChip20 {
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    background-position: -179px 0px;
    pointer-events: none
}

.flyChip50 {
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    background-position: -238px 0px;
    pointer-events: none;
}

.flyChip100 {
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    background-position: -297px 0px;
    pointer-events: none;
}

.flyChip1000 {
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    background-position: -358px 0px;
    pointer-events: none;
}

.flyChip5000 {
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    background-position: -417px 0px;
    pointer-events: none;
}


/* 飞出的盘结束 */


/* 投注盘子 开始*/

.chips {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 0;
    text-align: right;
    width: 425px;
    height: 42px;
    padding: 0 25px;
}

.chips .chip {
    display: inline-block;
    width: 46px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
    background-image: url('../images/chips.png');
    background-size: 462px;
    background-repeat: no-repeat;
    top: -10px;
    position: relative;
}

.chips .chip.chip1 {
    background-position: 0 -52px;
}

.chips .chip.chip1.on,
.chips .chip.chip1:hover {
    background-position: 0 0px;
    top: -21px;
}

.chips .chip.chip5 {
    background-position: -60px -52px;
}

.chips .chip.chip5.on,
.chips .chip.chip5:hover {
    top: -21px;
    background-position: -60px 0px;
}

.chips .chip.chip10 {
    background-position: -120px -52px;
}

.chips .chip.chip10.on,
.chips .chip.chip10:hover {
    top: -21px;
    background-position: -120px 0px;
}

.chips .chip.chip20 {
    background-position: -179px -52px;
}

.chips .chip.chip20.on,
.chips .chip.chip20:hover {
    top: -21px;
    background-position: -179px 0px;
}

.chips .chip.chip50 {
    background-position: -238px -52px;
}

.chips .chip.chip50.on,
.chips .chip.chip50:hover {
    top: -21px;
    background-position: -238px -0px;
}

.chips .chip.chip100 {
    background-position: -297px -52px;
}

.chips .chip.chip100.on,
.chips .chip.chip100:hover {
    top: -21px;
    background-position: -297px 0px;
}

.chips .chip.chip1000 {
    background-position: -358px -52px;
}

.chips .chip.chip1000.on,
.chips .chip.chip1000:hover {
    top: -21px;
    background-position: -358px 0px;
}

.chips .chip.chip5000 {
    background-position: -417px -52px;
}

.chips .chip.chip5000.on,
.chips .chip.chip5000:hover {
    top: -21px;
    background-position: -417px 0px;
}


/* 底盘筹码结束 */

.diceGameContent .diceGameTopArea {
    width: 1200px;
    height: 130px;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#525252', endColorStr='#242424', gradientType='0');
    background: -webkit-linear-gradient(top, #525252, #242424);
    background: -moz-linear-gradient(top, #525252, #242424);
    position: absolute;
    background-repeat: no-repeat;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
}

.diceGameTopArea .diceLogo {
    background-image: url('../images/diceLogo.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 120px;
    line-height: 120px;
    width: 300px;
    bottom: 0;
    left: 20px;
}

.diceGameTopArea .diceIssue {
    position: absolute;
    left: 320px;
    width: 208px;
    height: 130px;
}

.diceIssue .diceIssueTop {
    position: absolute;
    top: 5px;
    height: 24px;
    line-height: 24px;
}

.diceIssue .diceIssueCountDown {
    position: absolute;
    bottom: 10px;
    width: 208px;
    height: 96px;
    background-size: 208px 96px;
    background-image: url(../images/diceCountDown.png);
    background-position: -5px 0;
    background-repeat: no-repeat;
}

.diceGameTopArea .diceResult {
    position: absolute;
    left: 560px;
    width: 196px;
    height: 130px;
}

.diceResult .diceResultTop {
    position: absolute;
    top: 5px;
    height: 24px;
    line-height: 24px;
}

.diceResult .diceResultDetail {
    position: absolute;
    bottom: 10px;
    width: 188px;
    height: 96px;
    background-size: 196px 96px;
    background-image: url(../images/diceResultDetail.png);
    background-position: -5px 0;
    background-repeat: no-repeat;
}
.diceResult_1 {
    background-image: url('../images/dice.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 32px;
}
.diceResult_2 {
    background-image: url('../images/dice.svg');
    background-repeat: no-repeat;
    background-position: 0 -40px;
    background-size: 32px;
}
.diceResult_3 {
    background-image: url('../images/dice.svg');
    background-repeat: no-repeat;
    background-position: 0 -80px;
    background-size: 32px;
}
.diceResult_4 {
    background-image: url('../images/dice.svg');
    background-repeat: no-repeat;
    background-position: 0 -128px;
    background-size: 32px;
}
.diceResult_5 {
    background-image: url('../images/dice.svg');
    background-repeat: no-repeat;
    background-position: 0 -174px;
    background-size: 32px;
}
.diceResult_6 {
    background-image: url('../images/dice.svg');
    background-repeat: no-repeat;
    background-position: 0 -220px;
    background-size: 32px;
}
.diceResult .diceResultDetail .diceResultDetailFirst {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    margin: auto;
    width: 32px;
    height: 32px;
}

.diceResult .diceResultDetail .diceResultDetailSecond {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 32px;
    height: 32px;
}
.diceResult .diceResultDetail .diceResultDetailThird {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20%;
    margin: auto;
    width: 32px;
    height: 32px;
}

.diceGameTopArea .diceRecent {
    position: absolute;
    left: 780px;
    width: 250px;
    height: 130px;
}

.diceRecent .diceRecentTop {
    position: absolute;
    top: 5px;
    height: 24px;
    line-height: 24px;
}

.diceRecent .diceRecentDetail {
    position: absolute;
    bottom: 10px;
    width: 250px;
    height: 96px;
    background-size: 250px 96px;
    background-image: url(../images/diceResultDetail.png);
    background-position: -5px 0;
    background-repeat: no-repeat;
    padding: 8px;
}

.diceIssueTop,
.diceResultTop,
.diceRecentTop,
.diceRecentDetail {
    color: #bed3f1;
    text-align: left;
    font-size: 14px;
} 
.diceRecent .diceRecentDetail ul {
    overflow-y: scroll;
    height: 74px;
    position: absolute;
    width: 250px;
}
.diceRecent .diceRecentDetail .scrollWrap {
    overflow: hidden;
    position: relative;
    height: 74px;
    width: 232px;
}
.diceRecent .diceRecentDetail ul>li{
    height: 14px;
    margin: 14px 0;
    padding: 0 20px;
}
.diceRecent .diceRecentDetail ul>li .diceRD_left,
.diceRecent .diceRecentDetail ul>li .diceRD_center,
.diceRecent .diceRecentDetail ul>li .diceRD_right {
    float: left;
    height: 14px;
    line-height: 14px;
}
.diceRecent .diceRecentDetail ul>li .diceRD_left {
    width: 24%;
}
.diceRecent .diceRecentDetail ul>li .diceRD_center {
    width: 32%;
}
.diceRecent .diceRecentDetail ul>li .diceRD_right {
    width: 44%;
    position: relative;
}
.diceRecent .diceRecentDetail ul>li .diceRD_right>.diceRD_xt_r{
    position: absolute;
    left: 5px;
}
.diceRecent .diceRecentDetail ul>li .diceRD_right>.diceRD_xt_m{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 14px;
    height: 14px;
}
.diceRecent .diceRecentDetail ul>li .diceRD_right>.diceRD_xt_l{
    position: absolute;
    right: 5px;
}